<div class="custom-deep-picture-contrainer">
    <img class="custom-pic-detail-cover" [src]="currentPicture">
</div>

<div class="row">
    <div class="offset-sm-1 col-sm-10">
        <div class="custom-bg-container">
            <h1 class="m-3 text-center">Herzlich Willkommen</h1>
            <hr>
            <div class="mt-3 mb-5">Wie Menschen die im Nebel gehen, begegnet man in der Entwicklung Tag täglich neuen Unbekannten, die es gilt zu 
                identifizieren und in Erfahrung zu bringen, wie man mit jeder einzelnen Variable umgeht.
            </div>
        </div>
    </div>
</div>