<div class="mt-4">
    <div class="row my-3">
        <div class="offset-1 col-10">
            <div class="row">
                <div class="col-sm-4 mb-3">
                    <div><strong>Kontaktdaten:</strong></div>
                    <div>Andre Dehn</div>
                    <div>Vorm Dorf 10</div>
                    <div>36272 Niederaula</div>
                    <div>E-Mail: info@andredehn.de</div>
                </div>
                <div class="col-sm-8 mb-3">
                    <div><strong>Direktlinks:</strong></div>
                    <div><a href="/info/impressum">Impressum</a></div>
                    <div><a href="/info/agb">AGB</a></div>
                    <div><a href="/info/privacy">Datenschutzerklärung</a></div>
                </div>
            </div>
        </div>
    </div>
</div>